# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg

# Entornos virtuales
venv/
env/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# PyPI
.pypirc
